body {
    background-color:#00796B;
}


#input {
    padding-left: 38%;
    padding-top: 2%;
 
  }

.input {
    background-color: #00796B;
    border: none;
    color: white;
    height: 36px;
    font-size: 18px;
    margin-top: 32px;
}

#valider{
    border-radius: 44%;
    height: 31px;
    width: 92px;
    color: #00796B;
    font-size: 15px;
    margin-top: 14px;
}


.valider{
    padding-left: 42%;
    width: 3%;
}  

#thedate{
    padding-top: 3%;
    color: white;
    font-size: 25px;
}



.temperature {
    color: white;
    float: left;
    font-size: 127px;
    padding-top: 10%;
    padding-left: 4%;
}



.text {
    color: white;
    float: right;
    padding-top: 13%;
    padding-right: 5%;
}

