body {
    background-color:#00796B;
}


#input {
    padding-left: 38%;
    padding-top: 2%;
 
  }

.input {
    background-color: #00796B;
    border: none;
    color: white;
    height: 36px;
    font-size: 18px;
    margin-top: 32px;
}

#valider{
    border-radius: 44%;
    height: 31px;
    width: 92px;
    color: #00796B;
    font-size: 15px;
    margin-top: 14px;
}


.valider{
    padding-left: 42%;
    width: 3%;
    font-family: 'Cairo', sans-serif;
}  

#thedate{
    padding-top: 3%;
    color: white;
    font-size: 25px;
    font-family: 'Cairo', sans-serif;
}

#temperature {
    color: white;
    float: left;
    font-size: 127px;
    padding-top: 10%;
    padding-left: 4%;
    font-family: 'Cairo', sans-serif;
}

@media  (max-width: 474px) {

    h4 { font-size: 14px; }
    h4 {margin-right: -41px;}
    #temperature { font-size: 45px; }
 }

 @media  (max-width: 375px) {

    h4 { font-size: 13px; }
    h4 {margin-right: -30px;}
    #temperature { font-size: 45px; }
    #temperature {font-size: 45px;}
    #temperature {margin-left: -28px;}
    #latlon {padding-top: 54px;}
    #latlon {margin-left: 36px;}
 }

#show {
    color: white;
    float: right;
    padding-top: 13%;
    padding-right: 5%;
    font-family: 'Cairo', sans-serif;
}



#latlon {
    color: white;
    margin-top: 38%;
    font-family: 'Cairo', sans-serif;
}

#carte {
    height: 500px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }